.hero {
    background: url('../../assets/bg.png') no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    display: block;
    padding: 50px;
    margin: auto;
    text-align: center;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

.logo {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.subtitle {
    font-size: 2em;
    font-weight: 700;
    color: #4379D5;
    font-family: Alexandria, sans-serif;
    margin: 0;
}

@media (max-width: 768px) {
    .subtitle {
      font-size: 1.5em;
    }
  }

@media (max-width: 553px) {
    .subtitle {
      font-size: 1em; 
    }
  }

.maintitle {
    font-size: 4em;
    font-weight: bolder;
    margin: 0;
    font-family: Alexandria, sans-serif;
}

@media (max-width: 768px) {
    .maintitle {
      font-size: 3em;
    }
  }
@media (max-width: 553px) {
    .maintitle {
      font-size: 2.2em; 
    }
  }
@media (max-width: 429px) {
    .maintitle {
      font-size: 26px; 
    }
  } 

.tagline {
    font-size: 1.5em;
    color: #d3d3d3; /* Slightly lighter gray */
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    font-family: Alexandria, sans-serif;
}
@media (max-width: 553px) {
    .tagline {
      font-size: 1.25em; 
    }
  }
@media (max-width: 429px) {
    .tagline {
      font-size: 16px; 
    }
  } 
.button {
    color: #ffffff;
    justify-content: space-between;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    padding: 0.6em 1.2em;
    display: flex;
    font-family: 'Alexandria', sans-serif;
    font-weight: bold;
    border: 3px solid white;
    font-size: 1.3em;
    cursor: pointer;
    transition: border-color 0.25s;
    justify-content: space-between;
    align-items: center;
    width: 200px;    
}
.button:hover {
    border-color: #4379D5;
    color: #4379D5;
    transition: border-color 0.25s;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}