.hero {
    background: url('../../assets/bg.png') no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    display: block;
    padding: 50px;
    
}

.logo {
    height: 200px;
}

.subtitle {
    font-size: 2em;
    font-weight: 700;
    color: #4379D5;
    font-family: Alexandria, sans-serif;
    margin: 0;
}

.maintitle {
    font-size: 4em;
    font-weight: bolder;
    margin: 0;
    font-family: Alexandria, sans-serif;
}

.tagline {
    font-size: 1.5em;
    color: #d3d3d3; /* Slightly lighter gray */
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    font-family: Alexandria, sans-serif;
}

.button {
    color: #ffffff;
    justify-content: space-between;
    font-family: Alexandria, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: auto;
    padding: 0.6em 1.2em;
    display: flex;
    margin: 0;
    font-family: Alexandria, sans-serif;
    font-weight: bold;
    border: 2px solid white;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
    justify-content: space-between;
    align-items: center;
    width: 170px
}
.button:hover {
    border-color: #4379D5;
    color: #4379D5;
    transition: border-color 0.25s;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}