.mechanics {
    background: url('../../assets/menu.png') no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    padding: 30px 50px;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

.header {
    font-family: 'Alexandria', sans-serif;
    font-weight: bold;
    left: 0;
    right: 0;
    margin: 0;
    font-size: larger;
    padding-bottom: 20px;
}