.team {
    width: 100vw;
    height: 100vh;
    display: list-item;
    padding: 50px;
    padding: 30px 50px;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    background: linear-gradient(rgb(0, 0, 0), rgb(59, 59, 59));
}

.header {
    font-family: 'Alexandria', sans-serif;
    font-weight: bold;
    left: 0;
    right: 0;
    margin: 0;
    font-size: larger;
    padding-bottom: 20px;
}

.content {
    font-family: 'Alexandria';
    font-size: 18px;
    display: flex;
    line-height: 2;
}